<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<h1>Home Page</h1>
<a href="\greaterhalf">Check out the quakes having magnitude greater than 0.5</a>
<br>
<br>
<a href="\date"> Quakes between a certain date</a>
<br>
<br>
<a href="\getinput">Quakes based on range(kms) and location</a>
<br>
<br>
<a href = "\mag"> Enter magnitude for searching earthquake count at day and night time </a>
<br>
<br>
<a href = "\clusters">Get Clusters based on location</a>
<br>
<br>
<a href = "\net">Update mag based on location</a>


{% endblock %}